---
layout: base
---
{% include mode_switcher.html %}

{% assign my = site.my %}
<div class="row" id="about">
    <header id="title">
        <img src="{{ crturl }}images/me.png">
        <h1>{{ my.realName_cn }} | <small>{{ my.jobTitle }}</small></h1>
    </header>

    <section id="intro">
        <h2>野生iOS码农一枚</h2>
        <p>北漂多年的码农,混迹过某、某、某知名互联网公司,也跟朋友创业过</p>
		<p>写过MFC,也搞过Windows Mobile、 Windows Phone，现在主要研究iOS</p>
        <p>漂不动了，回老家继续码字</p>
        <p>除了敲代码, 还喜欢电影、 游戏、旅游, 以及猫猫狗狗</p>
		<p>(我砖也搬的很不错~~~  o(╯□╰)o)</p>
    </section>

    <section id="skillsets">
        <h2>SKILLSETS</h2>
        <ul id="frontend">
            <i class="fa fa-tv">前端</i>
            {% for skill in my.skills.frontend %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        <ul id="backend">
            <i class="fa fa-cog"> 后端</i>
            {% for skill in my.skills.backend %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        <ul id="tools">
            <i class="fa fa-wrench"> 工具</i>
            {% for skill in my.skills.tools %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="findme">
        <h2>FIND ME ON</h2>
        <ul>
            <li><a href="{{ my.contact.github }}"><i class="fa fa-github"></i></a></li>
            <li><a href="{{ my.contact.qzone }}"><i class="fa fa-qq"></i></a></li>
            <li><a href="{{ my.contact.pinterest }}"><i class="fa fa-pinterest"></i></a></li>
        </ul>
    </section>

    <section id="action">
        <h2>MORE</h2>
        <a href="{{ crturl }}resume">查看我的在线简历</a>
        <span> 或 </span>
        <a href="mailto:{{ my.contact.email }}">给我写邮件</a>
    </section>

</div>
{% include disqus_load.html %}